<input type="text" [(ngModel)] = "name" >  
<p> {{ name }}</p>

<!-- 
Below are the useful liks for Angular js 

<br><br><br><br><br><br>
<hr/>
<h2>Here are some links to help you start: But I don't think it is needed... because I've joined a cource from udemy.com</h2>
<ul>
  <li>
    <h2><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://blog.angular.io//">Angular blog</a></h2>
  </li>
</ul>

-->